@import './theme.css';

/* Blog Page Basics */

.blog-container {
  background: var(--theme-white);
  min-height: 100vh;
  padding-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-container h2 {
  font-size: 2rem;
  align-self: flex-start;
  color: var(--theme-black);
}


/* Blog Header Section */

.blog-header {
  display: flex;
  flex-direction: column;
  width: 600px;
}

/* Blog Post Section */

.blog-post {
  margin: 24px 0;
  width: 100%;
  max-width: 600px;
  background: var(--primary-lightest);
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--theme-shadow);
  padding: 24px;
}

.blog-container h3 {
  font-size: 1.5rem;
  align-self: flex-start;
  margin-left: 2rem;
  margin-bottom: 1rem;
  color: var(--theme-black);
}

.blog-post:hover {
  background: var(--primary-light);
  box-shadow: var(--theme-white);
}

.blog-container h4 {
  font-size: 1rem;
  align-self: flex-start;
  margin-left: 2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: var(--theme-black);
}

.blog-container hr {
  border: 0;
  height: 1px;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-top: 2px solid var(--primary-dark);
}

.blog-container p {
  font-size: 1.25rem;
  color: var(--theme-grey);
  margin-bottom: 1.5rem;
  margin-left: 3rem;
  margin-right: 2rem;
}

/* Pagination styles */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background: var(--theme-white);
  border: 2px solid var(--secondary-light);
  color: var(--theme-black);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
.pagination button.active {
  background: var(--secondary-light);
  color: var(--theme-white);
  font-weight: bold;
}


/* Mobile View */

@media (max-width: 800px) {
  .blog-container {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .blog-container h2 {
    align-self: center;
  }

  .blog-post {
    width: 100%;
    max-width: 300px;
  }
}