@import './theme.css';

/* Projects Page Basics */

.projects-container {
  background: var(--theme-cream);
  min-height: 100vh;
  padding-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container h2 {
  font-size: 2rem;
  align-self: flex-start;
  color: var(--theme-black);
}

.projects-container p {
  font-size: 1.25rem;
  color: var(--theme-grey);
  margin-bottom: 1.5rem;
}


/* Projects Header Section */

.projects-header {
  display: flex;
  flex-direction: column;
  width: 600px;
}

/* Projects Cards Section */

.projects-cards {
  flex-wrap: wrap;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: row;
  margin: 24px 0;
  width: 100%;
  width: 750px;
  background: var(--primary-lightest);
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--theme-shadow);
  padding: 24px;
}

.project-card:hover {
  background: var(--primary-light);
  box-shadow: var(--theme-cream);
}

.project-photo {
  width: 310px;
  height: 180px;
  border-radius: 8px;
  margin-right: 1.5rem;
}

.projects-container h3 {
  font-size: 1.5rem;
  margin: 0;
  align-self: flex-start;
  color: var(--theme-black);
}

.project-tag-line {
  display: flex;
  align-items: center;

}

.project-card h4 {
  font-size: 1rem;
  margin: 0;
  align-self: flex-start;
  margin-top: 0.5rem;
  color: var(--theme-black);
}

.project-tag {
  display: inline-block;
  background-color: var(--primary-dark);
  color: var(--theme-cream);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.875rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.project-card p {
  font-size: 1.25rem;
  color: var(--theme-grey);
  margin-top: 1rem;
  margin-bottom: 0;
}


/* Mobile View */
@media (max-width: 800px) {

  .blog-container {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .projects-container h2 {
    align-self: center;
  }

  .project-card {
    flex-direction: column;
    align-items: center;
    max-width: 300px
  }

  .project-photo {
    margin-right: 0;
    margin-bottom: 1rem;
  }

}